// change the theme    
:export {
  primary:  #009682;
  primaryLight: #40B1A2;
  secondary: #D9D9D9;
    light: #EDEDED;
    info: #4664AA;
    dark: #292b2c;
    white: #fff;
    infoLight: #758BC0;
    danger: #dc3545;
    warning: #ffc107;
    wbkBlueLight:#8AA2B3;
    wbkBlueExtraLight:#C5D1D9;
}
